P{color: gray ;}
p{font-size: 30px;}
.A{color: navy; font size: 1.5em;;fon}


/*task3,html*/

h1{text-decoration-line :underline}
h1{text-align: center;}
.t{color: black;}
.qwer{text-decoration-line: overline underline ;}

/*task9,html*/
div{
height: 300px;
text-align: center;

background-image:linear-gradient(to right ,  #971f97 ,#a53ea5,#d28a04 );
}
/*task10,html*/
.a{
 background-color: aqua;
}
.c{
background-color: aqua;
}
.e{background-color: rgba(153, 51, 114, 0.548)
}
.g{
 background-color: rgba(255, 153, 0, 0.788);
}
.i{
 background-color: rgba(255, 153, 0, 0.788);
}